/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply overall styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #0D203B;
}

/* Aggiorna gli stili per l'intestazione */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#header-content {
    display: flex;
    align-items: center;
}

#logo {
    width: 150px;
    height: 150px; /* Larghezza e altezza del logo */
    margin-right: 10px; /* Spazio tra il logo e il titolo del sito */
    margin: 20px;
    margin-bottom: -50px;
    margin-top: -30px;
}

#site-title {
    margin-top: 18px;
    font-size: 40px;
    font-weight: bold;
}

/* Stili per i link nel menu */
#menu {
    list-style: none;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}

#menu li {
    margin-right: 20px;
    margin-top: 12px;
}

#menu li a {
    text-decoration: none; /* Rimuove la sottolineatura predefinita dei link */
    color: #333; /* Colore del testo per i link */
    font-weight: bold; /* Testo in grassetto per i link */
    font-size: 19px;
}

#menu li a:hover {
    color: #8c95ac; /* Cambia colore quando il mouse ci passa sopra */
}


/* Aggiorna gli stili per il carosello e le immagini */
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 20px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#quotidiani {
    text-align: center;
    margin: 20px;
}

#quotidiani img {
    max-width: 100%;
    height: 120px;
}

.quotidiani-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#quotidiani button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo2 {
    text-align: center;
    margin: 20px;
}

#capitolo 2 img {
    max-width: 100%;
    height: 120px;
}

.capitolo2-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo2 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo3 {
    text-align: center;
    margin: 20px;
}

#capitolo 2 img {
    max-width: 100%;
    height: 120px;
}

.capitolo3-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo3 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo4 {
    text-align: center;
    margin: 20px;
}

#capitolo 4 img {
    max-width: 100%;
    height: 120px;
}

.capitolo4-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo4 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo5 {
    text-align: center;
    margin: 20px;
}

#capitolo 5 img {
    max-width: 100%;
    height: 120px;
}

.capitolo5-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo5 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo6 {
    text-align: center;
    margin: 20px;
}

#capitolo 6 img {
    max-width: 100%;
    height: 120px;
}

.capitolo6-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo6 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo7 {
    text-align: center;
    margin: 20px;
}

#capitolo 7 img {
    max-width: 100%;
    height: 120px;
}

.capitolo7-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo7 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo8 {
    text-align: center;
    margin: 20px;
}

#capitolo 8 img {
    max-width: 100%;
    height: 120px;
}

.capitolo8-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo8 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo9 {
    text-align: center;
    margin: 20px;
}

#capitolo9 img {
    max-width: 100%;
    height: 120px;
}

.capitolo9-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo9 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo10 {
    text-align: center;
    margin: 20px;
}

#capitolo 10 img {
    max-width: 100%;
    height: 120px;
}

.capitolo10-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo10 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}

/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo11 {
    text-align: center;
    margin: 20px;
}

#capitolo11 img {
    max-width: 100%;
    height: 120px;
}

.capitolo11-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo11 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
#capitolo12 {
    text-align: center;
    margin: 20px;
}

#capitolo12 img {
    max-width: 100%;
    height: 120px;
}

.capitolo12-item {
    display: inline-block;
    margin-right: 10px; /* Spazio tra gli elementi */
    margin-bottom: 50px;
    text-align: center;
}

.image-button-container {
    text-align: center;
}

#capitolo12 button {
    border-radius: 4px;
    margin-top: 40px;
    display: block;
    margin: auto;
    font-size: 15px;
    color: #0D203B;
    background-color: #fff;
    
}


/* Responsive design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    #menu {
        margin-top: 10px;
    }

    #carousel {
        height: 200px;
    }
}


