/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply overall styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    color: #020469;
}

/* Header styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 3px 3px rgb(2, 36, 90);
}

#header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#logo {
    width: 100%; /* Full width */
    max-width: 160px; /* Maximum width */
    height: auto; /* Auto height to maintain aspect ratio */
    margin: 20px auto; /* Center logo */
    margin-top: -48px;
    margin-bottom: -48px;
}

#menu {
    list-style: none;
    display: flex;
    justify-content: center; /* Center menu items */
    font-weight: bold;
}

#menu li {
    margin: 0 20px; /* Space between menu items */
}

#menu li a {
    text-decoration: none;
    color: #020469;
    transition: color 0.3s; /* Cambia la durata della transizione se necessario */
}

#menu li a:hover {
    color: #b3b4da; /* Cambia il colore desiderato */
}

.phrase h1 {
    margin-top: 40px ;
    text-align: center;
    color: rgb(2, 36, 90);
    font-size: 30px;
    font-weight: bold;
}

.phrase h2 {
    margin-top: 80px ;
    text-align: center;
    color: rgb(2, 36, 90);
    font-size: 30px;
    font-weight: bold;
}

.text-container p {
    font-size: 20px;
    color: black;
    display: block;
    text-align: center;
}

/* Stili per la descrizione */
.description {
    display: flex;
    justify-content: space-between;
}

#contenitore {
    max-width: 100%; /* Larghezza massima del contenitore */
    margin: 0 auto; /* Centra il contenitore orizzontalmente */
    text-align: center; /* Centra il testo all'interno del contenitore */
    margin-top: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 310px;
}

